body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dfe3ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 400px;
  background: #000;
}

.card .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card .image img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .image img {
  opacity: .5;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
  /*100%*/
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  /*100%*/
  height: 100%;
  background-color: #00334e;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: perspective(2000px) rotateY(-90deg);
          transform: perspective(2000px) rotateY(-90deg);
}

.card:hover .details {
  -webkit-transform: perspective(2000px) rotateY(0deg);
          transform: perspective(2000px) rotateY(0deg);
}

.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}

.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}

.card .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}

.card .details .center ul li {
  list-style: none;
  margin: 0 5px;
  float: left;
}

.card .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  -webkit-transform: .5s;
          transform: .5s;
}

.card .details .center ul li a:hover {
  background: #ff3636;
}

.navbar {
  background-color: #00334e;
}

.navbar a.navbar-brand {
  color: white;
}

.navbar a.nav-link {
  color: white;
  font-size: 12px;
  padding: 3px 10px;
}

.jumbotron {
  background-image: url("../images/jumbo.png");
  background-size: cover;
  height: 500px;
  border-radius: 0;
  color: white;
  margin-bottom: 0px;
}

.jumbotron .container .div {
  height: 10px;
  background-color: #ffaa71;
  margin: 5px;
}

.jumbotron .container #registerUser .form-control {
  font-size: 12px;
  margin-bottom: 10px !important;
  padding: 5px 20px;
}

.jumbotron .container #registerUser .form-control input {
  border-radius: 0px;
}

.btn-register {
  background-color: #ffaa71;
}

.head {
  background-color: #00334e;
  border-radius: 10px;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

/* media queries */
/*# sourceMappingURL=index.css.map */