body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dfe3ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #00334e;
}

.navbar a.navbar-brand {
  color: white;
}

.navbar a.nav-link {
  color: white;
  font-size: 12px;
  padding: 3px 10px;
}

.jumbotron {
  background-image: url("../images/jumbo.png");
  background-size: cover;
  height: 500px;
  border-radius: 0;
  color: white;
  margin-bottom: 0px;
}

.jumbotron .container .div {
  height: 10px;
  background-color: #ffaa71;
  margin: 5px;
}

.jumbotron .container #logInUser {
  padding: 20px 20px !important;
}

.jumbotron .container #logInUser .form-control {
  font-size: 12px;
  margin-bottom: 10px !important;
  padding: 5px 10px;
}

.jumbotron .container #logInUser .form-control input {
  border-radius: 0px;
}

.btn-register {
  background-color: #ffaa71;
}

.head {
  background-color: #222831;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

/* media queries */
@media only screen and (max-width: 480px) {
  .jumbotron {
    height: 700px;
  }
}
/*# sourceMappingURL=login.css.map */